{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - ShoesShp
{% endblock %}

{% block content %}

	<h1>Modifier mon mot de passe</h1>

	<br>

	<a href="{{ path('account') }}">Retouner à mon compte</a>

	<br>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	{{ form(form) }}
	
	{% endblock %}
