{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - ShoesShop
{% endblock %}

{% block content %}


	<div class="row">
		<div class="col-8 m-auto">

			<h1>Modifier mon mot de passe</h1>

			<br>

			<a href="{{ path('account') }}">Retouner à mon compte</a>

			<br>
			<br>
			{% if notification %}
				<div class="alert alert-info">{{ notification }}</div>
			{% endif %}
			{{ form(form) }}

			</div>
		</div>

	{% endblock %}
