{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
	<h3>Nos meilleurs produits</h3>
	<div class="row">
		{% for product in products %}

			<div class="col-md-3">
				{% include "product/single_product.html.twig" %}
			</div>

		{% endfor %}
	</div>
	<!-- /.row -->
	<!-- Three columns of text below the carousel -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider"> <div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">First featurette heading.
				<span class="text-muted">It’ll blow your mind.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5">
			<img src="{{ asset('assets/img/centershop.jpg') }}" class="img-fluid" width:"500px" alt="Shoe Nike">
		</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Oh yeah, it’s that good.
				<span class="text-muted">See for yourself.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="{{ asset('assets/img/shoeShop.jpg') }}" class="img-fluid" width:"500px" alt="Shoe Shop">
		</div>
	</div>

	<hr class="featurette-divider">


	<hr class="featurette-divider">

{% endblock %}
