body {
    position: relative;
}


.navbar-item-custom,
.navbar-item-custom a {
    color: white;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;
}

.product-container {
    margin-bottom: 150px;
}

.product-item {
    margin-top: 30px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtittle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.cart-icon {
    height: 20px;
    padding-left: 20px;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-ckeck {
    background-color: beige;
    padding: 20px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: beige;
    padding: 20px;
    margin-top: 22px;
}

.account-item {
    background-color: #3498db;
    padding: 70px;
    color: white;
}

.account-item {
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.imageProduct {
    min-height: 250px;
    height: 250px;
    object-fit: cover;
}