{% extends 'base.html.twig' %}

{% block title %}
	CGUV - ShoesShop
{% endblock %}

{% block content %}
	<h2 class="text-center">CGUV</h2>

	<p class="text-center">Conditions générales d'utilisation</p>

	<p class="text-center">En vigueur au 13/01/2022</p>
	<p>
		Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par shoeshop  et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».
								Les présentes CGU sont accessibles sur le site à la rubrique «CGU».
								
								Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU par l’utilisateur. Lors de l'inscription sur le site via le Formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGU en cochant la case précédant le texte suivant : « Je reconnais avoir lu et compris les CGU et je les accepte ».
								En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.
								shoeshop.fr  se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.
	</p>
	<p>
		Article 1 : Les mentions légales
								
								L'édition du site shoeshop.fr est assurée par la Société SARM shoeshop au capital de 5000 euros, immatriculée au RCS de 12345678901234 sous le numéro 12345678901234, dont le siège social est situé au 75 boulevard Haussman
								Numéro de téléphone 01234567890
								Adresse e-mail : dembelematala@gmail.com.
								Le Directeur de la publication est : Dembele Matala
								
								L'hébergeur du site shoeshop.fr est la société planet Hoster, dont le siège social est situé au _______________, avec le numéro de téléphone : _______________.
	</p>

	<p>
		ARTICLE 2 : Accès au site
								
								Le site shoeshop.fr  permet à l'Utilisateur un accès gratuit aux services suivants :
								Le site internet propose les services suivants :
								Ventes de chaussures de sport et de marche
								Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
								
								L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le formulaire. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.
								Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe qui lui seront communiqués après son inscription.
								Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.
								Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de shoeshop.fr. Dans ces cas, l’Utilisateur accepte ainsi ne pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis.
								L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse email de l’éditeur communiqué à l’ARTICLE 1.
	</p>

	<p>
		ARTICLE 3 : Collecte des données
								
								Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les Utilisateurs.
	</p>

	<p>
		ARTICLE 4 : Propriété intellectuelle
								
								Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.
								
								L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite.
								Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.
								Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.
	</p>

	<p>
		ARTICLE 5 : Responsabilité
								
								Les sources des informations diffusées sur le site shoeshop.fr sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.
								Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site shoeshop.fr ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.
								L'Utilisateur s'assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. Il assume les risques liés à l'utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.
								Le site shoeshop.fr ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.
								La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
	</p>

	<p>
		ARTICLE 6 : Liens hypertextes
								
								Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site shoeshop.fr. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.
	</p>

	<p>
		ARTICLE 7 : Cookies
								
								L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.
								Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site shoeshop.fr. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.
								L’information contenue dans les cookies est utilisée pour améliorer le site shoeshop.fr.
								En naviguant sur le site, L’Utilisateur les accepte.
								L’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.
								A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être refusées.
								L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.
	</p>

	<p>
		ARTICLE 8 : Droit applicable et juridiction compétente
								
								La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.
								Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.
	</p>


</p>{% endblock %}
