{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - ShoeShop {% endblock %}

{% block content %}

    <h2>Je passe ma commande</h2>

    <p>Choississez vos préférences avant de passer votre commande.</p>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-6">

            {% set formHtml %}

                {{  form(form)}}

            {% endset %}

            {{  formHtml|replace({'[br]' : '<br/>'})|raw }}

            <b>Choisir mon transporter</b>
        
        </div>

        <div class="col-md-6">

            <b>Récap de ma commande</b><br>

            <b>Button pour payer</b>

        </div>

    </div>

{% endblock %}
