{% extends 'base.html.twig' %}

{% block title %}Page introuvable _ ShoesShop
{% endblock %}

{% block content %}

	<div class="block-small">
		<h2>Page Introuvable</h2>

        <p>Désolé cette page n'existe pas !</p>

        <a href="{{ path('home') }}">Revenir sur le site</a>
	</div>

{% endblock %}
